@import './base.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "UI/01. 14 Semi Bold";
  src: url('fonts/segoe-ui-semibold.ttf');
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.custom-cursor {
  cursor: url("pointer.svg") 0 0, auto;
}